@model PimVIII.Models.Pessoa

@{
    ViewData["Title"] = "Delete";
}

<h2>Apagar Pessoa</h2>

<h3>Vôce esta certo que vai excluir?</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
